.root {
    position: relative;
    left: -180px;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px, 20px;
    padding-left: 42px;
    width: 400px;
    border-radius: 10px;
    font-size: 19px;
    height: 35px;

    &:focus {
        border: 1px solid rgba(0 ,0, 0, 0.2);
    }
}

.icon {
    width: 22px;
    height: 20px;
    opacity: 0.2;
    position: absolute;
    left: 10px;
    top: 7px;
}

.clearIcon {
    width: 45px;
    height: 40px;
    opacity: 0.3;
    position: absolute;
    right: 0px;
    top: -2px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}